@import '~styles/variables';
@import '~styles/mixins';

.appBar {
  min-height: 50px;
  padding: 4px 10px;
  box-sizing: border-box;
  background: $blue;

  .appName {
    float: left;
    color: $white;
    font-size: 20px;
    margin-top: 7px;
  }

  .accountLink {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 10px;

    & > * {
      display: inline-block;
      float: left;
    }

    .githubIcon {
      @include githubIcon(15px);
      position: relative;
      top: 1.5px;
    }

    .username {
      margin-left: 5px;
    }
  }

  .logoutButton {
    float: right;
    color: $white !important;

    &:hover {
      background-color: $blue;
    }
  }


}