@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.loginBoxContainer {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  text-align: center;


  //I know !important is shitty but official documentation states 
  //to use it like so and hence below modificators
  //http://www.material-ui.com/#/customization/styles (overriding with CSS Styles section)
  .loginInput,
  .passwordInput {
    width: 300px !important;
    display: block !important;
    position: relative !important;
    margin: 0 auto !important;
    display: block !important;
    margin-top: 10px !important;
  }

  .loginInput {
    margin-top: 20px !important;
  }

  .githubIcon {
    @include githubIcon(60px);
    margin-bottom: 20px;
  }

  .loginButton {
    color: $white !important;
    background-color: $green !important;
    margin-top: 20px !important;

    &:hover {
      background-color: darken($green, 15) !important;
    }
  }
}

